<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid fw-bold">
    <a class="navbar-brand text-secondary" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" routerLink="/task1" routerLinkActive="active" ariaCurrentWhenActive="page" >Task 1</a>&nbsp;&nbsp;
        <a class="nav-link text-white" routerLink="/task2" routerLinkActive="active" ariaCurrentWhenActive="page" >Task 2</a>&nbsp;&nbsp;
        <a class="nav-link text-white" routerLink="/task3" routerLinkActive="active" ariaCurrentWhenActive="page" >Task 3</a>&nbsp;&nbsp;
        <a class="nav-link text-white" routerLink="/task4" routerLinkActive="active" ariaCurrentWhenActive="page" >Task 4</a>&nbsp;&nbsp;
        <a class="nav-link text-white" routerLink="/task5" routerLinkActive="active" ariaCurrentWhenActive="page" >Task 5</a>&nbsp;&nbsp;
      </div>
    </div>
  </div>
</nav>
